In [1]:
import numpy as np
import pandas as pd

In [5]:
clinical_data = pd.read_excel("/media/andres/T7 Shield1/UCAN_project/Dataframes/Metadata/Lymphoma_Octopus_Export 2023-11-29_C80_only_n1291_incl_YYYY_MM_pnr_removed.xlsx")
print(clinical_data.shape)
print(clinical_data.personReference.nunique())
clinical_data.head(2)

(1291, 44)
1291

,personReference,BirthYYYYMM,BirthYear,BirthMonth,inclusionYear,includingHospital,county,consentDate,consentComments,generalComments,...,tissueTypeOther 2,surgeryComments 2,RELAPSE1,date,verifictationType,relapseComments,RELAPSE2,date 2,verifictationType 2,relapseComments 2
0,npr900180900594,193103,1931,3,2013.0,NaN,DALARNA,2013-08-16,NaN,Endast RT given.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,npr158542658428,197803,1978,3,2018.0,GAVLE,GAVLEBORG,2018-10-29,NaN,"veckovis Rx4, strålbehefter PET",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
clinical_data.columns

Index(['personReference', 'BirthYYYYMM', 'BirthYear', 'BirthMonth',
       'inclusionYear', 'includingHospital', 'county', 'consentDate',
       'consentComments', 'generalComments', 'deceased', 'deceasedDate', 'sex',
       'diagnosisGroups', 'DiaDate', 'stadium', 'translatedDiagnosis',
       'diagnosisComments', 'DiaDate 2', 'translatedDiagnosis 2',
       'diagnosisComments 2', 'type', 'indication', 'startDate', 'endDate',
       'typeDetails', 'OP/BIOPSYdate', 'type.1', 'tissueType',
       'tissueTypeOther', 'surgeryComments', 'OP/BIOPSYdate 2', 'type 2',
       'tissueType 2', 'tissueTypeOther 2', 'surgeryComments 2', 'RELAPSE1',
       'date', 'verifictationType', 'relapseComments', 'RELAPSE2', 'date 2',
       'verifictationType 2', 'relapseComments 2'],
      dtype='object')

In [6]:
clinical_data[['RELAPSE1', 'date', 'verifictationType', 'relapseComments', 'RELAPSE2', 'date 2', 'verifictationType 2', 'relapseComments 2']].isna().sum()

RELAPSE1               1079
date                   1079
verifictationType      1142
relapseComments        1179
RELAPSE2               1228
date 2                 1227
verifictationType 2    1232
relapseComments 2      1251
dtype: int64

In [18]:
only_relapse1_patients = clinical_data[~clinical_data.RELAPSE1.isna()]
print(only_relapse1_patients.shape)
print(only_relapse1_patients.personReference.nunique())
only_relapse1_patients.to_excel("/media/andres/T7 Shield1/UCAN_project/Dataframes/Analysis/only_relapse1_patients.xlsx")
only_relapse1_patients.head(2)

(212, 44)
212

,personReference,BirthYYYYMM,BirthYear,BirthMonth,inclusionYear,includingHospital,county,consentDate,consentComments,generalComments,...,tissueTypeOther 2,surgeryComments 2,RELAPSE1,date,verifictationType,relapseComments,RELAPSE2,date 2,verifictationType 2,relapseComments 2
8,npr752467369212,194705,1947,5,2011.0,NaN,UPPSALA,2011-08-01,NaN,NaN,...,NaN,NaN,RELAPSE1,2011-06-27,NaN,NaN,NaN,NaN,NaN,NaN
19,npr205346582030,196809,1968,9,2015.0,UPPSALA,UPPSALA,2015-01-14,NaN,Recidiv jan '18 -> CR juni 2018. Progress nov ...,...,Biopsi höger axill,Recidiv 1,RELAPSE1,2015-05-20,PATHOLOGICAL,Även verifierat recidiv via PET,RELAPSE2,2017-02-22,PATHOLOGICAL,NaN

In [17]:
relapse1_and_relapse2_patients = clinical_data[~clinical_data.RELAPSE1.isna()][~clinical_data.RELAPSE2.isna()]
print(relapse1_and_relapse2_patients.shape)
print(relapse1_and_relapse2_patients.personReference.nunique())
relapse1_and_relapse2_patients.to_excel("/media/andres/T7 Shield1/UCAN_project/Dataframes/Analysis/relapse1_and_relapse2_patients.xlsx")
relapse1_and_relapse2_patients.head(2)

(63, 44)
63

/tmp/ipykernel_20667/4009532726.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  relapse1_and_relapse2_patients = clinical_data[~clinical_data.RELAPSE1.isna()][~clinical_data.RELAPSE2.isna()]

,personReference,BirthYYYYMM,BirthYear,BirthMonth,inclusionYear,includingHospital,county,consentDate,consentComments,generalComments,...,tissueTypeOther 2,surgeryComments 2,RELAPSE1,date,verifictationType,relapseComments,RELAPSE2,date 2,verifictationType 2,relapseComments 2
19,npr205346582030,196809,1968,9,2015.0,UPPSALA,UPPSALA,2015-01-14,NaN,Recidiv jan '18 -> CR juni 2018. Progress nov ...,...,Biopsi höger axill,Recidiv 1,RELAPSE1,2015-05-20,PATHOLOGICAL,Även verifierat recidiv via PET,RELAPSE2,2017-02-22,PATHOLOGICAL,NaN
91,npr326241131414,198404,1984,4,2013.0,NaN,VARMLAND,2013-09-18,NaN,troligen EBV reaktiverad lymfkörtel efter SCT,...,NaN,NaN,RELAPSE1,2009-01-01,PATHOLOGICAL,NaN,RELAPSE2,2011-07-01,PATHOLOGICAL,NaN

In [22]:
epoch = 300
fold_n = 10
(1*epoch*fold_n)/60

50.0

In [19]:
1.75*3600

6300.0